<div id="sidebar">
	<ul id="sidebar-nav">
	  <li>Welcome <%= currentUser.firstName %></li>
	  <li><a href="/collector/dashboard">Dashboard</a></li>
	  <li><a href="/collector/donations/accepted">Accepted Donations</a></li>
	  <li><a href="/collector/donations/assigned">Assigned Donations</a></li>
	  <li><a href="/collector/donations/previous">Previous Collections</a></li>
	  <li><a href="/collector/feedback">Feedback from Admin</a></li>
	  <li><a href="/collector/feedback/sent">My Sent Feedback</a></li>
	  <li><a href="/collector/profile">My Profile</a></li>
	  <li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
  </div>
  